/* styles.css */
/* Add these styles to your existing CSS */

/* Hamburger Menu Styles */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        width: 100%;
        top: 60px;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links.show {
        display: flex;
    }
}

/* Reset some default styles */
body, ul, li, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    
}

/* Header and Navbar Styles */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

.homeButton {
    float: left;
    font-weight: bold;
}

/* Main Content Styles */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    display: block;


}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;

    
}


/*Card hover*/
/* Additional styles for card on hover */
.card:hover {
    background-color: #f8f8f8;
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.3s;
    
}

.card:hover img {
    filter: grayscale(80%);
}


h2, p {
    margin-bottom: 10px;
}

